body {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.navbar-inverse .navbar-inner .brand {color:#000000;margin:0 0 0 -5px;}
.content-container, .navbar-inverse .navbar-inner {border:none;}
.content-container h1 {font-size:18px;}
.content-container h2 {font-size:15px;}
.content-container a.back-to,
.sidebar,
footer,
.navbar-inverse .btn-navbar,
.content-container a.apply,
.share,
#feedback
{display:none;}
