/** Icon Fonts **/
@font-face {
	font-family: 'icons';
	src:url('../icons/icons.eot');
	src:url('../icons/icons.eot?#iefix') format('embedded-opentype'),
		url('../icons/icons.svg#icons') format('svg'),
		url('../icons/icons.woff') format('woff'),
		url('../icons/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.icon-phone:before {content: "\61";}
.icon-pencil:before {content: "\62";}
.icon-code:before {content: "\63";}
.icon-briefcase:before {content: "\64";}
.icon-libreoffice:before {content: "\65";}
.icon-apple:before {content: "\66";}
.icon-gplus:before {content: "\67";}
.icon-facebook:before {content: "\68";}
.icon-twitter:before {content: "\69";}
.icon-feed:before {content: "\6a";}
.icon-linkedin:before {content: "\6b";}
.icon-logo:before {content: "\6c";}